{% extends 'base.html' %}

{% block content %}

<header class="py-5" style="background-color: #EE4D2D;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Về chúng tôi</h1>
            <p class="lead fw-normal text-white-50 mb-0">Được thành lập năm 2024</p>
        </div>
    </div>
</header>


   <div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <section id="about-us">
                    <br/>
                    <p>Chào mừng đến với <strong>ShoppingFun</strong>, nơi đam mê gặp gỡ chất lượng!</p>

                    <p>Tại <strong>ShoppingFun</strong>, chúng tôi cam kết cung cấp cho bạn trải nghiệm mua sắm tốt nhất có thể. Cho dù bạn đang tìm kiếm <em>các loại sách với nhiều thể loại khác nhau</em>, mục tiêu của chúng tôi là mang đến cho bạn những sản phẩm kết hợp giữa chất lượng, giá cả hợp lý và phong cách vượt thời gian.</p>

                    <h2>Câu chuyện của chúng tôi</h2>
                    <p>Được thành lập vào năm <strong>2024</strong>, <strong>ShoppingFun</strong> ra đời từ tình yêu dành cho <em>sách</em>. Chúng tôi bắt đầu như một doanh nghiệp nhỏ với ước mơ cung cấp <em>sách</em> không chỉ nâng cao cuộc sống của bạn mà còn được sản xuất với sự chăm sóc và sự toàn vẹn.</p>

                    <p>Những gì bắt đầu như một dự án đam mê cá nhân đã phát triển thành một cửa hàng trực tuyến sôi động, cung cấp <em>cách loại sách best seller của thời đại</em> cho khách hàng trên toàn thế giới.</p>

                    <h2>Tại sao nên mua sắm với chúng tôi?</h2>
                    <ul>
                        <li><strong>Sản phẩm chất lượng cao</strong>: Chúng tôi cẩn thận chọn lựa các sản phẩm để đảm bảo chúng đáp ứng tiêu chuẩn về chất lượng và tay nghề.</li>
                        <li><strong>Phương châm khách hàng là trên hết</strong>: Sự hài lòng của bạn là ưu tiên hàng đầu của chúng tôi. Chúng tôi cung cấp hỗ trợ khách hàng liền mạch và chính sách hoàn trả không phiền phức để đảm bảo bạn hài lòng với mỗi giao dịch.</li>
                        <li><strong>Thân thiện với môi trường</strong>: Chúng tôi cam kết đóng góp cho môi trường, dù là thông qua bao bì thân thiện với môi trường hay các lựa chọn sản phẩm bền vững.</li>
                        <li><strong>Ưu đãi độc quyền</strong>: Từ các đợt giảm giá theo mùa đến các ưu đãi độc quyền, chúng tôi luôn yêu thích việc thưởng cho khách hàng những ưu đãi tuyệt vời.</li>
                    </ul>

                    <h2>Sứ mệnh của chúng tôi</h2>
                    <p>Sứ mệnh của chúng tôi rất đơn giản: cung cấp cho bạn những sản phẩm tuyệt vời mà bạn sẽ yêu thích, đồng thời đảm bảo rằng trải nghiệm mua sắm của bạn là dễ dàng và thú vị. Chúng tôi liên tục cập nhật các bộ sưu tập của mình, vì vậy luôn có điều gì đó mới mẻ và thú vị cho bạn khám phá.</p>

                    <p>Cảm ơn bạn đã ghé thăm <strong>ShoppingFun!</strong> Chúng tôi rất vui được trở thành một phần trong hành trình của bạn và hy vọng bạn sẽ tìm thấy chính xác những gì bạn đang tìm kiếm.</p>
                </section>
            </div>
        </center>
    </div>
</div>


{% endblock %}