{% extends 'base.html' %}

{% block content %}

<header class="py-5" style="background-color: #EE4D2D;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Đăng nhập</h1>
            <p class="lead fw-normal text-white-50 mb-0">Đăng nhập tài khoản</p>
        </div>
    </div>
</header>


        <div class="container">
        	<div class="row">
        		<center>
      			<div class="col-8">
                    
<form method="POST" action="{% url 'login' %}" >
    {% csrf_token %}
            <br/>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>

    <input type="text" class="form-control" name="username" placeholder="Vui lòng nhập username">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
    <input type="password" class="form-control" name="password" placeholder="Vui lòng nhập mật khẩu">
  </div>

  <button type="submit" class="btn btn-secondary">Đăng nhập</button>

</form>
<br/>
<br></br>
<br></br>
<br></br>
<br></br>
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}