{% extends 'base.html' %}

{% block content %}
<div class="container">
    <br/>
    <div class="card mb-3">
        <div class="row g-0 d-flex justify-content-center align-items-center">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.name }}">
            </div>
            <div class="col-md-8">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>

                    {% if product.is_sale %}
                        <!-- sale -->
                        <div class="d-flex justify-content-center small text-warning mb-2">
                            <div class="bi-star-fill"></div>
                            &nbsp;&nbsp;&nbsp;Sale!&nbsp;&nbsp;
                            <div class="bi-star-fill"></div>
                        </div>

                        <!-- product price-->
                        <strike>{{ product.price }} VND</strike>
                        &nbsp;
                        {{ product.sale_price }} VND
                        <br/>

                    {% else %}
                        {{ product.price }} VND

                    {% endif %}
                    <br/>
                    <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Home</a>
                    <br/>
                    <br/>
                    <button type="button" value="{{ product.id }}" class="btn btn-secondary add-to-cart" id ="add-cart">Add To Cart</button>


                </div>
            </div>
        </div>
    </div>
</div>

<br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
<script>
    $(document).on('click', '#add-cart', function(e) {
        e.preventDefault();

        // Get the product ID from the button's value attribute
        var product_id = $(this).val();
        
        // Make the AJAX request
        $.ajax({
            type: 'POST',
            url: '{% url 'cart_add' %}',  // Django URL for the 'cart_add' view
            data: {
                product_id: $('#add-cart').val(),  
                csrfmiddlewaretoken: '{{ csrf_token }}',  // CSRF token for security
                action: 'post'  // Define action type
            },

            success: function(response) {
                alert(response['Product Name'] + ' has been added to the cart.');
            },

            error: function(xhr, errmsg, err) {
                alert('Failed to add product to cart: ' + errmsg);
            }
        });
    });
</script>


{% endblock %}
