{% extends 'base.html' %}

{% block content %}

<header class="py-5" style="background-color: #EE4D2D;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Đăng ký tài khoản</h1>
            <p class="lead fw-normal text-white-50 mb-0">Vui lòng điền thông tin</p>
        </div>
    </div>
</header>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <section id="about-us">
                <br />
                <form method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-secondary">
                        Đăng ký
                    </button>
                </form>
                <br />
            </section>
        </div>
    </div>
</div>

{% endblock %}
