{% extends 'base.html' %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Thông tin khách hàng</h1>
        </div>
    </div>
</header>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <section id="about-us">
                <br />
                <form method="post" action="{% url 'update_user' %}">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    <button type="submit" class="btn btn-secondary">
                        Cập nhật
                    </button>
                </form>
                <br />
            </section>

<a href="{% url 'update_password' %}" class="btn btn-secondary">Cập nhật lại mật khẩu</a>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
            
        </div>
    </div>
</div>

{% endblock %}
