{% extends 'base.html' %}

{% block content %}

<header class="py-5" style="background-color: #EE4D2D;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Cập nhật thông tin vận chuyển</h1>
        </div>
    </div>
</header>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <section id="about-us">
                <br />
                <strong>Billing Information</strong>
                <form method="post" action="{% url 'update_info' %}">
                    <br/>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br/><br/>
                    <strong>Shipping Information</strong>
                    <br/><br/>
                    {{ shipping_form.as_p }}

                    <button type="submit" class="btn btn-secondary">
                        Cập nhật
                    </button>
                </form>
                <br />
            </section>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
            
        </div>
    </div>
</div>

{% endblock %}
