{% extends 'base.html' %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Update Your Personal Information</h1>
            <p class="lead fw-normal text-white-50 mb-0">Here you can update extend profile</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <section id="about-us">
                <br />
                <form method="post" action="{% url 'update_info' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-secondary">
                        Update
                    </button>
                </form>
                <br />
            </section>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
            
        </div>
    </div>
</div>

{% endblock %}
