
{% extends 'base.html' %}


{% block content %}

        <!-- Header-->
        <header class="py-5" style="background-color: #EE4D2D;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder" style="font-size: 2.5rem; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);">Thanh toán ngay</h1>
            <p class="lead fw-normal text-white-50 mb-4" style="font-size: 1.2rem;">Xem lại những gì trong giỏ hàng nhé!!!</p>
        </div>
    </div>
</header>
        <br/>
        <div class="container">
            <div class="row">
                
                    <div class="col-md-6 offset-md-3">
          <div class="card">
          <div class="card-header">
            Tổng quan
          </div>
          <div class="card-body">
            {% for product in cart_products %}
                {{ product.name }}: 
                    {% if product.is_sale %}
                        ${{ product.sale_price }}
                    {% else %}
                        ${{ product.price }}
                {% endif %}

                <br/>
                <small>Tổng sản phẩm:
                {% for key, value in quantities.items %}
                    {% if key == product.id|slugify %}
                        {{ value }}
                    {% endif %}
                {% endfor %}</small>
                <br/><br/>

            {% endfor %}
            Tổng tiền:  ${{ totals }}
            <br/><br/>
            <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Cập nhật thông tin</a>
          </div>
        </div>
<br/><br/>
<div class="card">
  <div class="card-header">
    Thông tin vận chuyển
  </div>
  <div class="card-body">
    <form method="POST" action="{% url 'billing_info' %}">
        {% csrf_token %}
    {{ shipping_form.as_p }}

  </div>
</div>
<br/>

<br/>
<div class="text-end">
    <button type="submit" class="btn btn-secondary" style="background-color: #D0011B; border-color: #D0011B;">
        Tiếp tục thanh toán
    </button>
</div>



</form>
<br/><br/>


            </div>
        </div>
    </div>






{% endblock %}
