
{% extends 'base.html' %}


{% block content %}

        <!-- header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">processing order...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">this is temporary</p>
                </div>
            </div>
        </header>
        <br/>
        <div class="container">
            <div class="row">
                
                    <div class="col-md-6 offset-md-3">
          <div class="card">
          <div class="card-header">
            Order summary
          </div>
          <div class="card-body">
            {% for product in cart_products %}
                {{ product.name }}: 
                    {% if product.is_sale %}
                        ${{ product.sale_price }}
                    {% else %}
                        ${{ product.price }}
                {% endif %}

                <br/>
                <small>quantity: 
                {% for key, value in quantities.items %}
                    {% if key == product.id|slugify %}
                        {{ value }}
                    {% endif %}
                {% endfor %}</small>
                <br/><br/>

            {% endfor %}
            total:  ${{ totals }}
            <br/><br/>
            <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">update items</a>
          </div>
        </div>
<br/><br/>
<div class="card">
  <div class="card-header">
    shipping info
  </div>
  <div class="card-body">
    
    name: {{ shipping_info.shipping_full_name }}<br/>
    email: {{ shipping_info.shipping_email }}<br/>
    address 1: {{ shipping_info.shipping_address1 }}<br/>
    address 2: {{ shipping_info.shipping_address2 }}<br/>
    city: {{ shipping_info.shipping_city }}<br/>
    state: {{ shipping_info.shipping_state }}<br/>
    zipcode: {{ shipping_info.shipping_zipcode }}<br/>
    country: {{ shipping_info.shipping_country }}<br/>
    <br/>
    <a href="{% url 'checkout' %}" class="btn btn-outline-secondary">update shipping</a>

  </div>
</div>
<br/><br/>

<div class="card">
  <div class="card-header">
    billing info
  </div>
  <div class="card-body">
    <form method="post" action="{% url 'process_order' %}">
      {% csrf_token %}
    {{ billing_form.as_p }}
    
  </div>
</div>
<br/>



<button type="submit" class="btn btn-secondary">
  Pay now
</button>
</form>
<br/><br/>


            </div>
        </div>
    </div>






{% endblock %}
